.footer {
	background: url('/img/footer/bg.png') no-repeat center;
	background-size: cover;
	position: relative;
	overflow-x: hidden;

	&__show {
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
		transition: opacity 0.5s;
		animation: opacity 1s linear;

		&-close {
			cursor: pointer;
			position: absolute;
			top: 8%;
			left: 50%;
			margin-left: -1.5rem;
			margin-top: -1.5rem;
			font-size: 3rem;
			color: @mainRed;

			&:hover {
				animation: transformRotate 0.7s ease-in-out;
			}
		}

		&-container {
			margin: auto;
			position: relative;
			width: percentage(400/@layout-width-middle);
			min-width: 300px;
			padding-top: percentage(200/@layout-width-middle);
			min-height: 400px;
			display: flex;
			flex-wrap: nowrap;
			overflow: hidden;

			&-box {
				position: absolute;
				border-top: 3px solid tomato;
				box-sizing: border-box;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				text-align: center;

				i {
					text-shadow: 0 0 10px @blueMain, 0 0 20px @blueMain, 0 0 30px @blueMain, 0 0 40px #ff00de, 0 0 70px@blueMain, 0 0 80px@blueMain, 0 0 100px@blueMain, 0 0 150px@blueMain;
					font-size: 3rem;
					padding-bottom: 0.7rem;
				}
			}
		}
	}

	&__container {
		display: flex;
		justify-content: flex-between;
		flex-wrap: wrap;
		padding-top: percentage(100/@layout-width-middle);

		&-end {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #fff;
			z-index: 1;
			transition: left 1.5s linear;

			&-bg {
				background: url('/img/footer/end2.png') no-repeat center;
				background-size: contain;
				height: 100%;
				width: 100%;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			flex-basis: 250px;
			flex-grow: 1;
			padding-bottom: percentage(54/@layout-width-middle);

			&-logo {
				display: flex;
				align-items: center;
				padding-bottom: percentage(28/685);

				&-img {
					height: 42px;
					width: 42px;
				}

				&-name {
					.bold-os;
					font-size: 1.87rem;
					color: @black;
					padding-left: percentage(15/685);
				}
			}

			&-text {
			    color: @black;
			    .regular-os;
			    line-height: 27px;
			    font-size: 16px;
			    padding-bottom: percentage(40/685);
			}

			&-web {
				margin-left: -1rem;
				padding-bottom: percentage(91/685);

				&-link {
					text-decoration: none;

					&-icon {
						margin-left: 1rem;
						cursor: pointer;
						filter: brightness(.4);
						transition: filter 0.3s;

						&:hover {
							filter: brightness(.7);
						}
					}	
				}
			}
		}

		&-menu {
			display: flex;
			flex-basis: 250px;
			flex-grow: 1;
			justify-content: flex-end;
			list-style: none;
			padding: 0;
			text-transform: uppercase;

			&-item {
				cursor: pointer;
				flex-basis: 150px;
				.bold-os;
				color: @black;
				font-size: 16px;
				padding-left: percentage(23/685);
				height: 12%;
				overflow: hidden;
				transition: height 1s;

				&:first-of-type {
					height: 100%;
				}

				&:hover {
					height: 100%;
				}

				&-drop {
					list-style: none;
					padding: percentage(75/685) 0 0;
					text-transform: capitalize;

					&-link {
						cursor: pointer;
					   	color: @black;
					    .regular-os;
					    line-height: 1.68rem;
					    font-size: 16px;
						margin-top: percentage(45/685);
						font-weight: 600;
						transition: 0.3s color;

						&:hover {
							color: @mainRed;
						}

					    &:first-of-type {
						
	    					&:before {
	    						padding-bottom: percentage(55/685);
								display: block;
								content: '';
								border-top: 5px solid #fe4542;
								width: 2.25rem;
							}
					    }
					}
				}
			}
		}
	}

	&__copy {
		// padding-top: percentage(55/@layout-width-middle);
		// text-align: center;
	    color: @black;
	    font-size: 15px;
	    .regular-os;

		&-link {
			text-decoration: none;
			color: #fe4542;
			transition: color 0.3s;

			&:hover {
				color: #fe4542-50%;
				font-weight: 600;
			}
		}
	}
}

.about, .contact, .map, .photo {
	margin-left: -100%;
	transition: margin 0.8s;
}

.about {

	&-img {
		padding-top: 30%;
		background: url('/img/footer/about-us.jpg') no-repeat center;
		background-size: cover;
	}

	&-header {
		.bold-lb;
		padding-top: 2rem;
		font-size: 2rem;
		text-shadow:4px 4px 5px #AAAAAA;
		color:#000;
	}

	&-text {
		.light-lb;
		padding-top: 2rem;
		font-size: 1.2rem;
		color: #222;
        text-shadow: 0px 2px 3px #fff;
	}
}

.contact {

	&-img {
		padding-top: 30%;
		background: url('/img/footer/contact.png') no-repeat center;
		background-size: contain;
	}

	&-phone, &-adress, &-email {
		display: flex;
		flex-direction: column;
		padding-top: 1.5rem;
		font-size: 1.3rem;
	    text-shadow: 1px 4px 0 #456;
	    color: #FFF;
	}
}

.map {
	margin-left: -101%;
	height: 100%;
	width: 100%;
}

.photo {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&-img {
		flex-grow: 1;
		padding-top: 30%;

		&_top {
			background: url('/img/social/phys-1.jpg') no-repeat center;
			background-size: cover;
		}

		&_center {
			background: url('/img/social/phys-2.jpg') no-repeat center;
			background-size: cover;
			margin-top: 3%;
		}

		&_bottom {
			background: url('/img/social/phys-3.jpg') no-repeat center;
			background-size: cover;
			margin-top: 3%;
		}
	}
}

@keyframes opacity{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes transformRotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


@media screen and (max-width: 516px) {
	.footer__container-info {
		align-items: center;

		&-text {
			text-align: center;
		}
	} 

	.footer__container-menu {
		justify-content: center;
	}
}