.free {
	padding-top: percentage(157/@layout-width-middle);
	padding-bottom: percentage(103/@layout-width-middle);

	&__container {
		display: flex;
		justify-content: center;
		align-items: flex-start;


		&-logo {
			position: relative;
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;

			&-bg {
				height: 140px;
				width: 140px;
				background: url('/img/free/logo.png') no-repeat center;
				background-size: contain;
			}
		}

		&-box {
			padding-left: percentage(25/@layout-width-middle);
			flex-grow: 1;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;

			&-header {
				.bold-os;
				font-size: 3rem;
				vertical-align: top;
				line-height: 40px;
				color: @black;
			}

			&-text {
				padding-top: 0.3rem;
				.regular-os;
				font-size: 1.5rem;
				text-transform: capitalize;
				color: @black;
			}


		}

		&-span {
			.semibold-os;
			font-size: .85rem;
			color: @silver;
			padding-top: percentage(20/@layout-width-middle);

		}

		&-record {
			.semibold-os;
			font-size: .85rem;
			color: @silver;
			display: flex;
			align-items: center;
			padding-top: percentage(10/@layout-width-middle);
			flex-wrap: wrap;

			&-quality {
				display: flex;

				&-star {
					color: #e8e8e8;
					font-size: 1.5rem;
					cursor: pointer;
				}

				&-value {
					padding: 0 10px;
				}
			}
			
			&-button {
				cursor: pointer;
				flex-basis: 80px;
				line-height: 30px;
				border-radius: 15px;
				background: transparent;
				border: 1px solid #b7b7b7;
				font-size: .87rem;
				.semibold-os;
				color: @black;
				outline: none;
				transition: background 0.3s, box-shadow 0.3s, transform 0.4s; 

				&:hover {
				    transform: scale(1.1);
				    background: #333333;
				    box-shadow: 0 5px 7px rgba(255, 255, 255, 0.35);
				    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
				}
			}
		}
	}
}