.interface {
	
	&__header {
		.header;
		padding-top: percentage(140/@layout-width-middle);
		
	}

	&__row {
		.row;
		margin-bottom: percentage(120/@layout-width-middle);
	}

	&__container {
		position: relative;
	    width: 30%;
	    max-width: 400px;
	    min-width: 250px;
		margin: 0 auto;

		&-ratio {
			padding-top: 182.6%;
		}

		&-phone {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url('/img/interface/phone.png') no-repeat center;
			background-size: cover;
			white-space: nowrap;
			text-align: center;

			&-img {
			    position: absolute;
			    top: 8.3%;
			    left: 4%;
			    height: 81.3%;
			    width: 93%;
			    transition: left 0.3s, right 0.3s;
			}
		}
		
	}

	&__page-list {
		text-align: center;
		color: @silver;
		margin-bottom: percentage(160/@layout-width-middle);
		.light-os;
		user-select: none;

		i {
			cursor: pointer;
			vertical-align: middle;
			transition: text-shadow 0.2s, transform 0.2s;

				&:hover{
				text-shadow: 3px 3px 10px red,-3px -3px 10px yellow;
				color: #101921;
				transform: scale(1.3)
			}
		}

		&-text  {
			padding: 0 10px;
			transition: text-shadow 0.2s;

			&:hover {
				text-shadow: 0px 2px 3px #666;
			}
		}
	}
}

