.main {
	background: url('/img/main/bg.jpg') no-repeat center;
	background-size: cover;
	
	&__header {
			.flex-between;
			padding-top: percentage(20/@layout-width-middle);

		&-logo {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			img {
			
			}

			&-text {
				.bold-os;
				padding-left: 15px;
				color: #fff;
				font-size: 1.9rem;
				text-decoration: none;
			}
		}

		&-nav {
			.flex-between;
			align-items: center;

			&-btn {
				.semibold-os;
				border-radius: 23px;
				box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
				text-align: center;
				background: @mainRed;
				border: 0;
				color: #fff;
				text-decoration: none;
				padding: 0 27px;
				line-height: 45px;
				cursor: pointer;
				transition: background 0.3s, box-shadow 0.3s, transform 0.4s;

				&:hover {
					transform: scale(1.1);
					background: @black;
					box-shadow: 0 5px 7px rgba(255, 255, 255, .35);
					text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
				}

				&-span {

				}

				img {
					padding-right: 8px;
					padding-left: 10px;
					vertical-align: middle;
					margin-top: -8px;
				}
			}

			&-search {
				
				&-loupe {
					margin: 0 26px 0 33px;
					cursor: pointer;
					transition: filter 0.3s, box-shadow 0.3s, transform 0.2s;
					 

					&:hover {
					 	filter: invert(70%);
					 	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
					}
				}

				#hamburger{
					color: #fff;
					cursor: pointer;
					transition: color 0.3s, transform 0.2s;

					&:hover {
						color: @mainRed;
					}
				}
			}
		}
	}

	&__container {
			margin-top: percentage(167/@layout-width-middle);
			background: url('/img/main/phone.png') no-repeat center 0;
			background-size: contain;
			display: flex;
			align-items: center;
			padding-bottom: percentage(57/@layout-width-middle);
			
		&-load {
			padding-top: percentage(580/@layout-width-middle);
			margin: auto;
			display: flex;
			align-items: center;
			flex-direction: column;

			&-text {
				.light-os;
				font-size: 1rem;
				padding-bottom: 2.4rem;
				text-transform: uppercase;
				color: #fff;
				letter-spacing: 3px;
			}

			&-btn {
					display: flex;
					align-items: center;
					padding-bottom: percentage(60/@layout-width-middle);

				&-item {
					.semibold-os;
					border-radius: 23px;
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
					text-align: center;
					background: @mainRed;
					border: 0;
					color: #fff;
					text-decoration: none;
					padding: 0 1rem;
					margin: 0 1rem;
					line-height: 2.9rem;
					cursor: pointer;
					transition: background 0.3s, box-shadow 0.3s, transform 0.4s;
					font-size: 0.9rem;

					&-span {

					}

					img {
						padding-right: 8px;
						padding-left: 10px;
						vertical-align: middle;
						margin-top: -8px;
					}

				&:hover {
					transform: scale(1.1);
					background: @black;
					box-shadow: 0 5px 7px rgba(255, 255, 255, .35);
					text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
					// animation: scale 0.7s;
				}

				}
			}

			&-cursor {
				width: 1.6rem;
				height: 2.8rem;
				border: 3px solid white;
				border-radius: 13px;
				cursor: pointer;
				transition: box-shadow 0.2s;

				&-switch {
					display: block;
					margin: 0 auto;
					width: 3px;
					height: 0.62rem;
					border: 3px solid white;
					border-radius: 45%;
					background: #fff;
					margin-top: 0.2rem;
					transition: margin-top 0.2s, box-shadow 0.2s;
				}
			}
		}
	}
}

.toggle-switch {
	margin-top: 1.5rem;
    box-shadow: inset 0px 0px 50px 10px antiquewhite;
}

.toggle-shadow-cursor {
	box-shadow: 0px 0px 50px 10px antiquewhite;
}


@media screen and (max-width: 800px) {
	html {
		font-size: 14px;
	}
}