.next {

	&__header {
		.header;
		text-align: left;
	}

	&__row {
		.row;
		margin-left: 0;
	}

	&__rotate {
		position: relative;
		padding: 0.1% 0;
		box-sizing: border-box;
		margin: 0 auto;

		i {
			position: absolute;
			cursor: pointer;
			z-index: 1;
			user-select: none;
			color: #666666;
			font-size: 2rem;
    		transition: transform 0.2s, text-shadow 0.2s, font-size 0.2s;
		}

		i:hover {
	    	text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;
			font-size: 2.7rem;
		}

		&-arrow-up {
			top: 2rem;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&-arrow-down {
			bottom: 2rem;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&-arrow-left {
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
		}

		&-arrow-right {
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}

		&-container {
			height: 18.75rem;
			width: 18.75rem;
			perspective: 600px;
			margin: 12.5rem auto;
			position: relative;

			&-cube {
				transform-style: preserve-3d;
				height: inherit;
				width: inherit;
				transition: transform 0.3s;

				&-side {
					position: absolute;
					height: inherit;
					width: inherit;
					background: #fff;
					font-size: 25px;
					text-align: center;
					box-shadow: 0 15px 29px rgba(210, 210, 210, 0.35);
					border: 1px solid antiquewhite;
					opacity: 0.9;

					&-img {
						height: 6.25rem;
						width: 6.25rem;
						margin-top: 10px;
						margin: 0 auto;
						border-radius: 50%;
						background: url('/img/next/icon.png') no-repeat center;
						background-color: #663398;
						z-index: 2;
						margin-top: 10px;
					}

					&-header {
						.semibold-os;
						padding-top: 10px;
						text-transform: uppercase;
						text-align: center;
						font-size: 1.125rem;
					}

					&-text {
						.light-os;	
						padding-top: 10px;
						text-align: center;
						width: 70%;
						margin: 0 auto;
						color: #7a7a7a;
						font-size: 0.9rem;
					}
					
					&_front {
						transform: translateZ(9.375rem);
					}

					&_back {
						transform: rotateY(180deg) translateZ(9.375rem);
					}	

					&_left {
						transform: rotateY(90deg) translateZ(9.375rem);
					}

					&_right {
						transform: rotateY(-90deg) translateZ(9.375rem);
					}

					&_top {
						transform: rotateX(90deg) translateZ(9.375rem);
					}

					&_bottom {
						transform: rotateX(-90deg) translateZ(9.375rem);
					}

				}
			}
		}
	}
}


@media screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 12px;
	}	
}

@media screen and (max-width: 400px) {
	html {
		font-size: 10px;
	}	
}