.progress {
	background: url('/img/main/bg.jpg') no-repeat center;
	background-size: cover;

	&__container {
		padding: percentage(80/@layout-width-middle) 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&-case {
			display: flex;
			flex-basis: 400px;
			flex-grow: 1;
			justify-content: center;
			flex-wrap: wrap;

			&-box {
				flex-basis: 150px;
				flex-grow: 1;
				text-align: center;

				&-number {
					font-size: 3rem;
					.semibold-os;
					color: #fff;
					padding-bottom: 0.6rem;
					transition: transform 0.3s, text-shadow 0.3s;
				}

				&-row {
					.row;
					width: 3rem;
					margin: 0 auto;
					transition: width 0.3s linear;
				}

				&-text {
					.regular-lb;
					font-size: 12px;
					color: #fff;
					padding-top: 1.4rem;
				}

				&:hover > &-row {
					width: 40%;
				}

				&:hover > &-number {
				 	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
					transform: scale(1.2);
				}
			}
		}
	}
}