.review {

	&__header {
		.header;
	}

	&__row {
		.row;

	}

	&__slider {
		padding-top: percentage(77/@layout-width-middle);
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		padding-bottom: 6px;

		&-add-comment {
			.semibold-os;
			display: block;
			border-radius: 23px;
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
			text-align: center;
			background: @mainRed;
			border: 0;
			color: #fff;
			text-decoration: none;
			padding: 0 27px;
			line-height: 45px;
			cursor: pointer;
			margin: percentage(40/@layout-width-middle) auto 0; 
			outline: none;
			transition: background 0.3s, box-shadow 0.3s, transform 0.4s;
			

			&:hover {
				transform: scale(1.1);
				background: @black;
				box-shadow: 0 5px 7px rgba(255, 255, 255, .35);
				text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
			}
		}

		&-left, &-right {
			position: absolute;
			top: 50%;
			color: @silver;
			font-size: 2.5rem;
			transform: translate(0, 50%);
			cursor: pointer;
			user-select: none;
			transition: transform 0.2s, text-shadow 0.2s, font-size 0.2s;

			&:hover {
			    text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;
			    font-size: 2.7rem;
			}
		}

		&-right {
			right: 0;
		}

		&-box {
			display: inline-block;
			width: 100%;
			transition: margin 0.4s;

			&-img {
				width: 110px;
				height: 110px;
				border-radius: 50%;
				border: 1px solid #e8e8e8;
				margin: 0 auto;
				background: url('/img/review/avatar.png') no-repeat center;
				background-size: cover;
			}

			&-quality {
				margin-top: percentage(40/@layout-width-middle);
				text-align: center;

				&-star {
					color: #e8e8e8;
					transition: color 0.2s linear;
				}
			}

			&-text {
				display: block;
				white-space: normal;
				padding-top: percentage(50/@layout-width-middle);
				text-align: center;
				width: 70%;
				margin: 0 auto;
				color: @black;
				.regular-os;
			}

			&-id {
				padding-top: percentage(50/@layout-width-middle);
				text-transform: uppercase;
				.semibold-os;
				text-align: center;
				
				&-name {

				}

				&-company {

				}
			}
		}
	}
}


.comment-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 2;
	
}

.comment-bg-blur {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle at 65% 15%, aqua, darkblue);
	filter: blur(50px); 
	opacity: 0;
	transition: opacity 0.7s;
}


.comment {
	position: absolute;
	top: 50%;
	left: -100%;
	transform: translate(-50%, -50%);
	width: 70%;
	color: @blueHover;
	padding: percentage(20/@layout-width-middle) 0;
	box-sizing: border-box;
	text-align: center;
	opacity: 0;
	transition: opacity 0.7s, left 0.4s;

	&__label {
		.bold-lb;
		font-size: 1.5rem;
		text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
	}

	#commentName, #commentCompany, #commentText{
		.light-os;
		display: block;
		margin: 0 auto;
		margin: percentage(10/@layout-width-middle) auto percentage(20/@layout-width-middle);
		padding: 15px;
		border-radius: 24px;
		border: 10px solid transparent;
        border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%);
        border-image-slice: 1;
        outline: none;
	}

	#commentName {
		width: 20%;
		min-width: 130px;
	}

	#commentCompany {
		width: 20%;
		min-width: 130px;
	}

	#commentText {
		width: 70%;

	}

	#commentSend {
		display: block;
		.semibold-os;
		border-radius: 23px;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
		text-align: center;
		background: radial-gradient(circle at 65% 15%, aqua, #000);
		border: 0;
		color: #fff;
		text-decoration: none;
		padding: 0 27px;
		line-height: 45px;
		cursor: pointer;
		transition: background 0.3s, box-shadow 0.3s, transform 0.4s;
		margin: 0 auto;

		&:hover {
			transform: scale(1.1);
			background: radial-gradient(circle at 65% 15%, aqua, darkblue);
			box-shadow: 0 5px 7px rgba(255, 255, 255, .35);
			text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px aliceblue, 0 0 35px aliceblue, 0 0 40px aliceblue, 0 0 50px aliceblue, 0 0 75px aliceblue;
		}
	}

	&-photo {
		position: relative;
		height: 90px;
		width: 90px;
		border-radius: 50%;
		text-align: center;
		box-sizing: border-box;
		background: #fff;
        border: 3px solid #ADF2F7;
        margin: 0 auto;
        margin-top: percentage(10/@layout-width-middle);
        transition: transform 0.3s;

		&-text {
			display: inline-block;
			margin-top: 17%;
		}

		#commentPhoto {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;

		}

		&:hover {
			transform: scale(1.2);
		}
	}

	&-quality {
		text-align: center;

		&-text {

		}

		&-star {
			cursor: pointer;
			color: #e8e8e8;
			transition: color 0.2s linear;
		}
	}

	&-error {
		// display: inline-block;
		display: none;
		color: tomato;

		i {
			font-size: 1rem;
		}
	}
}


.comment-display {
	display: block;
}

.comment-shadow-error {
	border-image: linear-gradient(to right, transparent 0%, tomato 100%);
    border-image-slice: 1;
}



