.service {
	
	&__shadow {
			position: relative;
			display: none;

		&-bg {
			z-index: 1;
			position: fixed;
			background: #000;
			opacity: 0.1;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			filter: blur(10px);
			transition: opacity 1.5s, blur 1.5s;
		}

		&-modal {
			background: #fff;
			z-index: 2;
			position: fixed;
			height: 600px;
			width: 500px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			padding: 10px;
			padding-right: 25px;
			border-radius: 12px;
			box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
			opacity: 0.1;
			transition: opacity 0.7s, box-shadow 0.7s;


			&-close {
				position: absolute;
				right: 0;
				top: -45px;
				color: @orange;
				cursor: pointer;
				i {
					display: block;
					cursor: pointer;
					font-size: 45px;
					height: 100%;
				}
			}

			&-img {
				height: 150px;
				width: 200px;
				margin-right: 10px;
				margin-bottom: 10px;
				border-radius: 10px;
			}

			&-head {
				color: tomato;
				.ub;
				text-align: center;
				font-size: 23px;
				padding-bottom: 20px;
			}

			&-text {
				.bsr;
				color: @black;
			}

			&-logo{
				text-align: center;
				margin-top: 10px;
				padding-top: 12px;
				border-top: 1px solid @silver;
			}
		}
	}
}

.opacity {
	opacity: 1;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
}

.blur {
	opacity: 0.7;
	filter: blur(30px);
}

@media (min-width: 769px) and (max-width: 992px) {
	.service {
		
		&__shadow {
				position: relative;
				display: none;

			&-bg {
					
			}

			&-modal {
				text-align: center;
				height: 600px;
				width: 400px;
				opacity: 0.1;
				padding: 10px;
				overflow-y: auto;
				overflow-x: hidden;



				&-close {
					position: fixed;
					right: 0;
					top: 1px;
					/*margin-right: 5px;*/

					i {
						font-size: 35px;
					}
				}

				&-img {
					padding: 0;
					display: block;
					margin: 10px auto 10px;
					float: none;
					height: 200px;
					width: 250px;
				}

				&-head {
					padding-top: 10px;
					font-size: 20px;
				}

				&-text {
					font-size: 12px;
				}

				&-logo{

				}
			}
		}
	}

	.opacity {
	opacity: 1;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	}

	.blur {
		opacity: 0.7;
		filter: blur(30px);
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.service {
		
		&__shadow {
				position: relative;
				display: none;

			&-bg {
					
			}

			&-modal {
				text-align: center;
				height: 500px;
				width: 400px;
				opacity: 0.1;
				padding: 10px;
				overflow-y: auto;
				overflow-x: hidden;



				&-close {
					position: fixed;
					right: 0;
					top: 1px;
					margin-right: 10px;

					i {
						font-size: 35px;
					}
				}

				&-img {
					padding: 0;
					display: block;
					margin: 10px auto 10px;
					float: none;
					height: 200px;
					width: 250px;
				}

				&-head {
					padding-top: 10px;
					font-size: 20px;
				}

				&-text {
					font-size: 12px;
				}

				&-logo{

				}
			}
		}
	}

	.opacity {
	opacity: 1;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	}

	.blur {
		opacity: 0.7;
		filter: blur(30px);
	}
}

@media (min-width: 401px) and (max-width: 481px) {
		.service {
		
		&__shadow {
				position: relative;
				display: none;

			&-bg {
					
			}

			&-modal {
				text-align: center;
				height: 400px;
				width: 300px;
				opacity: 0.1;
				padding: 10px;
				overflow-y: auto;
				overflow-x: hidden;


				&-close {
					position: fixed;
					right: 50%;
					left: 80%;
					transform: translate(-50%,-50);
					top: 1px;

					i {
						font-size: 35px;
					}
				}

				&-img {
					padding: 0;
					display: block;
					margin: 40px auto 10px;
					float: none;
				}

				&-head {
					padding-top: 10px;
					font-size: 18px;
				}

				&-text {
					font-size: 12px;
				}

				&-logo{

				}
			}
		}
	}

	.opacity {
	opacity: 1;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	}

	.blur {
		opacity: 0.7;
		filter: blur(30px);
	}
}

@media (min-width: 320px) and (max-width: 400px) {
	.service {
		
		&__shadow {
				position: relative;
				display: none;

			&-bg {
					
			}

			&-modal {
				text-align: center;
				height: 400px;
				width: 250px;
				opacity: 0.1;
				padding: 10px;
				overflow-y: auto;
				overflow-x: hidden;


				&-close {
					position: fixed;
					right: 50%;
					left: 80%;
					transform: translate(-50%,-50);
					top: 1px;

					i {
						font-size: 35px;
					}
				}

				&-img {
					padding: 0;
					display: block;
					margin: 40px auto 10px;
					float: none;
				}

				&-head {
					padding-top: 10px;
					font-size: 18px;
				}

				&-text {
					font-size: 12px;
				}

				&-logo{

				}
			}
		}
	}

	.opacity {
	opacity: 1;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	}

	.blur {
		opacity: 0.7;
		filter: blur(30px);
	}
}
