.social {
	padding-top: percentage(160/@layout-width-middle);

	&__head {
		display: flex;
		justify-content: space-between;
		&-header {
			.header;
			padding: 0;
			text-align: left;
		}

		&-gallery {
			display: flex;
			text-transform: uppercase;
			.bold-os;
			color: @black;
			cursor: pointer;

			&-recent {
				padding-right: .625rem;
				color: #b7b7b7;
				transition: 0.3s color;

				&:hover {
					color: #b7b7b7;
				}
			}

			&-popular {
				padding-left: .625rem;
				transition: 0.3s color;

				&:hover {
					color: #b7b7b7;
				}
			}
		}
	}

	&__row {
		.row;
		margin-left: 0;
	}

	&__container {
		padding-top: percentage(60/@layout-width-middle);
		padding-bottom: percentage(70/@layout-width-middle);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -12px;
		overflow: hidden;

		&-wrap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		    height: 100%;
    		width: 100%;
    		margin-top: -10px;
    		animation: miniScale 0.5s linear; 
		}

		&-box {	
			position: relative;
			cursor: pointer;
			flex-basis: 200px;
			flex-grow: 1;
			margin: 0 12px;
			padding-top: percentage(500/@layout-width-middle);
			color: #fff;
			animation: opacityBox 1.5s linear;
			overflow: hidden;

			&:hover > &-info {
				bottom: 0;
			}

			&_mini {
				align-self: flex-start;
				flex-basis: 250px;
				flex-grow: 0.3;
				min-height: 50px;
				margin-top: 10px;
				padding-top: percentage(250/@layout-width-middle);
			}

			&_left {
				background: url('/img/social/one.jpg') no-repeat center;
				 background-size: cover;
			}

			&_center {
				background: url('/img/social/two.jpg') no-repeat center;
			    background-size: cover;
			}

			&_right {
				background: url('/img/social/three.jpg') no-repeat center;
				background-size: cover;
			}

			&_physic-one {
				background: url('/img/social/phys-1.jpg') no-repeat center;
				background-size: cover;
			}

			&_physic-two {
				background: url('/img/social/phys-2.jpg') no-repeat center;
				background-size: cover;
			}

			&_physic-three {
				background: url('/img/social/phys-3.jpg') no-repeat center;
				background-size: cover;
			}

			&-info {
				position: absolute;
				box-sizing: border-box;
				width: 100%;
			    // bottom: 0;
			    bottom: -10%;
			    padding: 15% 0% 5% 5%;
				.semibold-os;
				vertical-align: middle;
				background: linear-gradient(to bottom, transparent 0%, #000 100%);
				transition: bottom 0.3s linear;

				&_mini {
				    font-size: 0.8rem;
				    bottom: -14%;
				}


				&-text {
					padding-bottom: 1.75rem;
					width: 80%;

					&_mini {
						padding-bottom: 1rem;
					}
				}

				&-like {

					&-icon {
						padding-right: .6rem;
				    	vertical-align: middle;
				    	font-size: 1rem;
					}
				}

				&-message {
					margin-left: 1.25rem;

					&_mini {
						margin-left: 1rem;
					}

					&-icon {

					}
				}
			}
		}
	}

	&__button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 45px;
		width: 12.5rem;
		margin: 0 auto;
		border-radius: 23px;
		cursor: pointer;
		transition: background 0.3s, box-shadow 0.3s, transform 0.4s;
		vertical-align: bottom;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		overflow: hidden;

		&-gradient {
			position: absolute;
			z-index: -1;
			height: 100%;
			width: 28%;
			background: linear-gradient(90deg, tomato 0%, rgb(255, 249, 249) 100%);
			left: 0;
			transition: left 0.3s, transform 0.3s;
		}

		&:hover > &-gradient  {
			left: 100%;
			transform: translate(-100%, 0 );
			background: linear-gradient(90deg, rgb(255, 249, 249) 0%, tomato 100%);
		}

		&-info {
			.semibold-os;
			color: @black;
			transition: transform 0.3s;
		}

		&:hover > &-info {
			animation: 0.2s fontScale linear;
			transform: scale(0.8);
		}
		
		&-arrow {
		  	 padding-left: 2rem;
			 margin-right: -2.5rem;
			 transition: color 0.3s;
			 
		}

		&:hover > &-arrow {
			color: #fff;
		}

	}
}

@keyframes fontScale {

	from {
		transform: scale(1);
		color: #fff;
	}

	to {
		transform: scale(0.8);
		color: @black;
	}
}

@keyframes opacityBox {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes miniScale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}



@media screen and (max-width: 665px) {
	.social {

		&__container {
			margin-top: -10px;

			&-box {
				margin-top: 10px;

				&-info {
					bottom: -19%;
				}
			}
		}
	}	

}

@media screen and (max-width: 600px) {
	.social {

		&__container {
			justify-content: center;
		}
	}	

}

