.special {

	&__header {
		.header;
	}

	&__row {
		.row;
	}

	&__container {
		padding: percentage(160/@layout-width-middle) percentage(37/@layout-width-middle) 0 percentage(37/@layout-width-middle);
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;


		&-box {
			display: flex;
			flex-basis: 250px;
			flex-direction: column;
			
			&-logo {
				padding-top: 80%;
				

				&_ux {
					background: url('/img/special/ux.jpg') no-repeat center;
				}

				&_very {
					background: url('/img/special/very.jpg') no-repeat center;
				}

				&_secure {
					background: url('/img/special/secure.jpg') no-repeat center;
				}
			}

			&-header {
				.header;
				.bold-os;
				padding-top: percentage(40/250);
				font-size: 1.5rem;
				text-align: center;
				transition: text-shadow 0.2s;

				&:hover {
			        text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
				}
			}

			&-text {
				.text-gray;
				.light-os;
				padding-top: percentage(25/250);
				padding-bottom: percentage(25/250);
			}
		}
	}
}
