.video {
	background: url('/img/video/video.jpg') no-repeat center;
	background-size: cover;
	opacity: 1;
	transition: opacity 0.8s;

	&__expand {
		padding-top: percentage(700/@layout-width-middle);
		position: relative;
		font-size: 16px;

		&-box {
			position: absolute;
			display: flex;
			height: 5em;  //80
			width: 6.25em; // 100
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			display: flex;
			border-radius: 30px;
			z-index: 1;
			opacity: 1;
			transition: opacity 0.8s;

			&-play {
			display: flex;
			height: 3.25em;
			width: 4.5em;
			margin: auto;
			border-radius: 17px;
			background: #fe4542;
			cursor: pointer;
			transition: transform 0.3s, background 0.3s;

			&:hover {
				transform: scale(1.2);
				background: #fe4542-70%;
			}


				&-triangle {
					margin: auto;
					height: 0;
					width: 0;
					border-left: 1.25em solid #fff;
					border-top: .625em solid transparent;
					border-bottom: .625em solid transparent;
					
				}
			}
		}

		&-text {
			position: absolute;
			width: 80%;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2.25em;
			.semibold-os;
			color: #fff;
			text-align: center;
			z-index: 1;
			opacity: 1;
			transition: opacity 0.8s;
		}

		&-block {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: none;
			z-index: 1;
			opacity: 0;
			cursor: pointer;
			transition: opacity 1.8s;
		}
	}
}

@media screen and (max-width: 800px) {
	.video {

		&__expand {
			font-size: 13px;

			&-text {
				top: 60%;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.video {

		&__expand {

			&-text {
				top: 75%;
			}
		}	
	}	
}

@media screen and (max-width: 500px) {
	.video {

		&__expand {
			font-size: 10px;


			&-text {
				top: 70%;
				font-size: 1.8em;
			}
		}	
	}
}