/*Mixins*/
	/*Color*/

	@mainRed :   #f3423f;
	@silver:     #666666;
	@black:      #333333;
	@orangeFont: #ffebca;
	@blueHover:  #12a3d6;
	@blueMain:   #2190c1;
	@row: 		 #fe4542;
/*Content Sise*/

@layout-width-middle: 1170px;
@url-relative: '/img';

*{
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	overflow-x: hidden;
	position: relative;
}

.wrapper {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 0.4s left;
}

section {
	width: 100%;
	padding: 0;
	margin: 0;
}

.section__content {
	max-width: @layout-width-middle;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}

.container {
	max-width: @layout-width-middle;
	margin: 0 auto;
}

.flex-between {
	justify-content: space-between;
	display: flex;

}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.width {
	max-width: 100%;
}

.header {
	.bold-os;
	padding-top: percentage(162/@layout-width-middle);
	font-size: 2.2rem;
	color: @black;
	text-align: center;
}

.row {
	border-top: 5px solid @row;
	box-sizing: border-box;
	width: 4.3rem;
	margin: 0 auto;
	margin-top: 1.8rem;
}

.text-gray {
	.light-os;
	color: @silver;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.5rem;
}






