/*Fonts*/


/*.ub  {font-family: 'Ubuntu', sans-serif; font-weight: 600;}
.ubc {font-family: 'Ubuntu Condensed', sans-serif; font-weight: 400;}
.bn  {font-family: 'Russo One', sans-serif; font-weight: 400;} /*BebasNeue*/
/*.bsr {font-family: 'Comfortaa', cursive; font-weight: 400;}*/ /*BreeSerif Regular*/


.light-os{font-family: 'Open Sans', sans-serif;font-weight: 300}
.regular-os{font-family: 'Open Sans', sans-serif;font-weight: 400}
.semibold-os{font-family: 'Open Sans', sans-serif;font-weight: 600}
.bold-os {font-family: 'Open Sans', sans-serif;font-weight: 700}


.light-lb{font-family: 'Libre Baskerville', serif;font-weight: 300}
.regular-lb{font-family: 'Libre Baskerville', serif;font-weight: 400}
.semibold-lb{font-family: 'Libre Baskerville', serif;font-weight: 600}
.bold-lb {font-family: 'Libre Baskerville', serif;font-weight: 700}
