<div class="social__container-wrap">
	<div class="social__container-box social__container-box_physic-one social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				780
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				337
			</span>
		</div>
	</div>
	<div class="social__container-box social__container-box_physic-two social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				780
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				337
			</span>
		</div>
	</div>
	<div class="social__container-box social__container-box_physic-three social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				780
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				337
			</span>
		</div>
	</div>
	<div class="social__container-box social__container-box_left social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Realizm to your design and help you think about who and what.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				450
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				120
			</span>
		</div>
	</div>
	<div class="social__container-box social__container-box_center social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Realizm to your design and help you think about who and what.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				450
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				120
			</span>
		</div>
	</div>
	<div class="social__container-box social__container-box_right social__container-box_mini">
		<div class="social__container-box-info social__container-box-info_mini">
			<div class="social__container-box-info-text social__container-box-info-text_mini">
			Realizm to your design and help you think about who and what.
			</div>
			<span class="social__container-box-info-like">
				<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
				450
			</span>
			<span class="social__container-box-info-message social__container-box-info-message_mini">
				<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
				120
			</span>
		</div>
	</div>
</div>