<div class="social__container-box social__container-box_physic-one">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			780
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			337
		</span>
	</div>
</div>
<div class="social__container-box social__container-box_physic-two"">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			780
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			337
		</span>
	</div>
</div>
<div class="social__container-box social__container-box_physic-three"">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Physics is the branch of physical science that traditionally deals with matter, energy, force, and motion.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			780
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			337
		</span>
	</div>
</div>