<div class="social__container-box social__container-box_left">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Realizm to your design and help you think about who and what.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			450
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			120
		</span>
	</div>
</div>
<div class="social__container-box social__container-box_center">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Realizm to your design and help you think about who and what.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			450
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			120
		</span>
	</div>
</div>
<div class="social__container-box social__container-box_right">
	<div class="social__container-box-info">
		<div class="social__container-box-info-text">
		Realizm to your design and help you think about who and what.
		</div>
		<span class="social__container-box-info-like">
			<i class="material-icons social__container-box-info-like-icon">favorite_border</i>
			450
		</span>
		<span class="social__container-box-info-message">
			<i class="material-icons social__container-box-info-like-icon">chat_bubble_outline</i>
			120
		</span>
	</div>
</div>